* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: deepskyblue;
    width: 100vw;
    height: 100vh;
}
   
header {
    display: relative;
    padding: 20px;
    background-color: navy;  
    border-style:double;  
}
header p{
    text-align: right;
    color: white;
    margin-right: 30px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 25%;
    width: 800px;
    max-width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    
}
.buttons button{
    display: grid;
    gap:30px;
}


.hidden{
    display: none;
}

