* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: deepskyblue;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#time{
    color: white;
    font-size: 200%;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 25%;
    width: 800px;
    max-width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    
}

.hidden{
    display: none;
}

#intro button{
    font-size: 200%;
    border: 2px solid navy;
    margin-left: 120px;
}
#intro h1{
    font-size: 400%;
}


.answer button{
    display: grid;
    font-size: 120%;
    margin: 20px;
}



